/*style.css*/

body {
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #1c3a5e;
	background-color: #f0f0f0;
	border-top: 2px solid #fff;
}

/*Typography*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1em 0;
}

.label, .caption {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #dedede;
	margin-bottom: 0;
}

h1 {
	font-size: 1em;
	color: #1c3a5e;
}

h2 {
	font-size: 1em;
	color: #385474;
}

h3 {
	font-size: 1em;
	color: #556e8a;
}

h4 {
	font-size: 1em;
	color: #7189a0;
}

h5, h6 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 300;
}

h5 {
	color: #8ea3b6;
}

h6 {
	color: #aabdcc;
}

p {
	margin-top: 0.5em;
}


p, li {
	line-height: 1.7em;
	color: #282A36;
}

a {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #2E80BA;
	color: #2E80BA;

	-webkit-transition: color .25s ease-in-out, border-color .25s ease-in-out;
	-o-transition: color .25s ease-in-out, border-color .25s ease-in-out;
	transition: color .25s ease-in-out, border-color .25s ease-in-out;
}


a:hover {
	color: #1A6090;
	border-color: #1A6090;
}

blockquote {
	margin-left: 0;
/*	padding-left: 1em;
	border-left: 5px solid #999;*/
}

pre, code {
	font-family: 'Andale Mono';
	/*background-color: #fff;*/
	color: #1DB5CE;
	font-size: 0.9em;
	line-height: 1.4em;
	background-color: #333D56;
	padding:5px;
	border-radius: 4px;
}

/*Grid*/

.col { 
	width: %; 
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	float:left; 
	display: block;
	padding:5px;
	height: auto;
}

.col * width: %; { 
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.col-1-12 { width: 8.33%; }
.col-2-12 { width: 16.66%; }
.col-3-12 { width: 24.99%; }
.col-4-12 { width: 33.32%; }
.col-5-12 { width: 41.65%; }
.col-6-12 { width: 50%; }
.col-7-12 { width: 58.31%; }
.col-8-12 { width: 66.64%; }
.col-9-12 { width: 74.97%; }
.col-10-12 { width: 83.3%; }
.col-11-12 { width: 91.63%; }
.col-12-12 { width: 100%; }

.col-push-1-12 { margin-left: 8.33%; }
.col-push-2-12 { margin-left: 16.66%; }
.col-push-3-12 { margin-left: 24.99%; }
.col-push-4-12 { margin-left: 33.32%; }
.col-push-5-12 { margin-left: 41.65%; }
.col-push-6-12 { margin-left: 50%; }
.col-push-7-12 { margin-left: 58.31%; }
.col-push-8-12 { margin-left: 66.64%; }
.col-push-9-12 { margin-left: 74.97%; }
.col-push-10-12 { margin-left: 83.3%; }
.col-push-11-12 { margin-left: 91.63%; }

.row .col:last-child, .row {
	clear:both;
} 

.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.pull-right { float: right;}

.vert-center { margin-top: 12%; }

.center { 
	margin: 0 auto;
}

hr {
	border: 0;
    height: 0;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
	border-radius: 4px;
	display: inline-block;
}

a.btn {
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid;
	padding: 0.3em 0.7em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.83em;
	font-weight: bold;
	margin-bottom: 6px;

}

a.btn.alert {
	color: #FF4C00;
	border-color: #FF4C00;
}

a.btn.alert:hover {
	color: #C43008;
	border-color: #C43008;
}

/*Lists*/

/*enabling styles for unordered lists*/

ul {
    list-style: none;
    margin-left:0.67em;
    padding-left:0;
}

li { 
    padding-left: 0em; 
}

li:before {
    content: "•";
    color: #aabdcc;
    padding-right: 0.67em;
}

/*enabling styles for ordered lists*/

ol {
    counter-reset:li; 
    margin-left:0.67em;
    padding-left:0; 
}
ol > li {
    position:relative; 
    margin:0 0 6px 2em; 
    padding:4px 8px; 
    list-style:none; 
}
ol > li:before {
    content:counter(li); 
    counter-increment:li; 
    

    padding-right: 0.67em;
    
    color: #aabdcc;
    font-weight:bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

/*Semantic Elements*/

article, section {
	padding:25px;
}

footer {
	padding:25px;
	background-color: #fff;
	min-height: 50px;
}

/*Special Things*/

figure {
  margin: 1em 0;
  opacity: 0.15;

  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

figcaption p {
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 0;
	color:#666;
	font-size: 0.67em;
	line-height: 1em;
}

figure:hover {
	opacity: 1;
}

.figure-1 {
	position:;
}

.figure-link:hover + .figure {
  opacity: 1;
}

.col img {
	width: 100%;
}

/*svg*/
a > svg {
	display: inline-block;
	fill: #2E80BA;
	width: 10px;
	height: 10px;
	margin-right: 2px;

	-webkit-transition: color .25s ease-in-out, fill .25s ease-in-out;
	-o-transition: color .25s ease-in-out, fill .25s ease-in-out;
	transition: color .25s ease-in-out, fill .25s ease-in-out;
}
a:hover > svg {
	fill: #1A6090;
}



/*Media Queries*/

@media (max-width: 740px) {
	p {
		font-size: 120%;
	}
	.col-sm-6-12 {
		width: 50%;
	}
	.col-sm-push-1-12 { margin-left: 8.33%; }
}

@media (min-width: 900px) {
	.col-lg-5-12 { width: 41.65%; }
}


	